[submodule "authentication"]
	path = authentication
	url = https://github.com/NOVAPokemon/authentication.git
	update = merge
[submodule "utils"]
	path = utils
	url = https://github.com/NOVAPokemon/utils.git
	update = merge
[submodule "generator"]
	path = generator
	url = https://github.com/NOVAPokemon/generator.git
	update = merge
[submodule "battles"]
	path = battles
	url = https://github.com/NOVAPokemon/battles.git
	update = merge
[submodule "client"]
	path = client
	url = https://github.com/NOVAPokemon/client.git
	update = merge
[submodule "trades"]
	path = trades
	url = https://github.com/NOVAPokemon/trades.git
	update = merge
[submodule "trainers"]
	path = trainers
	url = https://github.com/NOVAPokemon/trainers.git
	update = merge
[submodule "store"]
	path = store
	url = https://github.com/NOVAPokemon/store.git
	update = merge
[submodule "microtransactions"]
    	path = microtransactions
    	url = https://github.com/NOVAPokemon/microtransactions.git
    	update = merge
[submodule "notifications"]
	path = notifications
	url = https://github.com/NOVAPokemon/notifications.git
	update = merge
[submodule "location"]
	path = location
	url = https://github.com/NOVAPokemon/location.git
	update = merge
